:root{
    --cor-fundo: rgb(44, 58, 73);
    --cor-texto: rgb(22, 9, 15)
    --cor-secundaria:#4d6c72;
    --cor-hover:#472480;
    --cor-superfice:#939e63;
    --cor-card:#6d4577;
    --cor-legenda:#738db4;
    --cor-clara:#6e6b4a;
    --cor-rodape:#9068db;
body{
    background-color: var(--cor-principal);
    color: var (--cor-clara);
    font-family: center;
    padding: 30px;
}
header{
    background-color: rgb(4, 32, 65);
}
main{
    background-color: rgb(253, 28, 197);
}
section{
    background-color: blueviolet;
}
Style
body {
    background-color: #daf3ad;
    color: #7fecc2;
    font-family: Arial, sans-serif;
}

header {
    background-color: #eb30bc;
    color: rgb(21, 137, 214);
    text-align: center;
    padding: 30px;
}
 {
     background-color: var(--cor-principal);
    color: var (--cor-clara);
    font-family: center;
    padding: 30px;
}


h1 {
    font-size: 36px;
}

h2 {
    color: #f51cbf;
}
utton { 
    background-color: aquamarine
    color:#222222;
    border: none;
    padding 10px 15px;
    boder-radiu : 8px;
    cursor: pointer;
}
button: hover {
    background-color:#9b4d83;
}
-curtir{
    display: block;
    width: fit-content;
    margin: 20px auto;
}